@import "../fonts/vt323/index.css";

body,
html {
}

body {
  background-color: lightgray;
  /* font-family: 'Jura', sans-serif; */
  font-family: "VT323", monospace;
  /* font-family: 'Space Mono', monospace; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

$scaleFactor: 0.6;

.warming-navigator {
  position: relative;
  width: calc(#{$scaleFactor} * 800px);
  height: calc(#{$scaleFactor} * 480px);
  outline: 2px solid gray;
  margin: 10px;
  font-size: calc(#{$scaleFactor} * 100%);
}

.warming-navigator .region,
.warming-navigator .year {
  position: absolute;
  bottom: 0px;
  margin: 10pt;
  font-size: 300%;
}

.warming-navigator .region {
  left: 0px;
}

.warming-navigator .year {
  right: 0px;
}

.warming-navigator .anomaly {
  position: absolute;
  bottom: 38%;
  width: 100%;
  text-align: center;
  font-size: 1000%;
}

.warming-navigator .uncertainty {
  position: absolute;
  top: 59%;
  width: 100%;
  text-align: center;
  font-size: 300%;
  opacity: 30%;
}

.anomaly-table {
  position: relative;
  width: 100%;
  overflow: scroll;
  font-size: xx-small;
  margin-top: 1em;

  &:empty {
    display: none;
  }

  table {
    margin: auto;

    td {
      text-align: center;
    }
  }

  $outline-width: 2.5px;

  .the-year {
    outline: yellow $outline-width solid;
  }

  .the-year-to-show {
    outline: deeppink $outline-width solid;
  }

  .the-year.the-year-to-show {
    outline: lightgreen $outline-width solid;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
#warming-navigator0 {
  font-family: 'Roboto Mono';
  font-size: calc(#{$scaleFactor} * 0.825 * 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
#warming-navigator1 {
  font-family: 'Syne Mono';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
#warming-navigator2 {
  font-family: 'Inconsolata';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
#warming-navigator3 {
  font-family: 'Source Code Pro';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}

#warming-navigator4 {
  font-family: 'VT323';
}

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
#warming-navigator5 {
  font-family: 'PT Mono';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
#warming-navigator6 {
  font-family: 'Share Tech Mono';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
#warming-navigator7 {
  font-family: 'Nova Mono';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
#warming-navigator8 {
  font-family: 'Xanh Mono';
  font-size: calc(#{$scaleFactor} * 0.9 * 100%);
}