@import '@fontsource/share-tech-mono/400.css';

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Share Tech Mono', monospace;
  display: grid;
  grid-template-columns: 1fr;
}

body:not(.with-single-cell-view):not(.with-grid-view) {
  grid-template-rows: 0fr 0fr;
  --base-px: 0px;
}

body:not(.with-single-cell-view).with-grid-view {
  grid-template-rows: 0 100%;
  --base-px: 0px;
}

body.with-single-cell-view:not(.with-grid-view) {
  grid-template-rows: 100% 0;

  /* the original layout was designed for 800x480 */
  --base-px: min(calc(100vw / 800), calc(100vh / 480));
}

body.with-single-cell-view.with-grid-view {
  grid-template-rows: 50% 50%;

  /* the original layout was designed for 800x480, but 50% of the height is used by the grid view */
  --base-px: min(calc(100vw / 800), calc(0.5 * 100vh / 480));
}

.warming-navigator {
  /* default font size is 16px */
  --base-font-size: calc(var(--base-px) * 16);

  position: relative;
  margin: 0;
  font-size: var(--base-font-size);
  cursor: none;

  .anomaly {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -68%);
    width: 100%;
    text-align: center;
    font-size: 1000%;
  }

  .uncertainty {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 79%);
    width: 100%;
    text-align: center;
    font-size: 300%;
    opacity: 30%;
  }

  .region,
  .year {
    position: absolute;
    bottom: calc(-20 / 3 * var(--base-px));
    margin: calc(40 / 3 * var(--base-px));
    font-size: 300%;
  }

  .region {
    left: 0;
  }

  .year {
    right: 0;
  }
}

.anomaly-table {
  overflow: scroll;
  font-size: xx-small;
  margin-top: 1em;

  &:empty {
    display: none;
  }

  table {
    margin: auto;

    td {
      text-align: center;
    }
  }

  --outline-width: 2.5px;

  .the-year {
    outline: yellow var(--outline-width) solid;
  }

  .the-year-to-show {
    outline: deeppink var(--outline-width) solid;
  }

  .the-year.the-year-to-show {
    outline: lightgreen var(--outline-width) solid;
  }
}
