@import "@fontsource/share-tech-mono/400.css";

body,
html {
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: lightgray;
  font-family: "Share Tech Mono", monospace;
}

.warming-navigator {
  position: relative;
  width: 800px;
  height: 480px;
  outline: 2px solid gray;
  margin: auto;
  cursor: none;
}

.warming-navigator .region,
.warming-navigator .year {
  position: absolute;
  bottom: -5pt;
  margin: 10pt;
  font-size: 300%;
}

.warming-navigator .region {
  left: 0px;
}

.warming-navigator .year {
  right: 0px;
}

.warming-navigator .anomaly {
  position: absolute;
  bottom: 38%;
  width: 100%;
  text-align: center;
  font-size: 1000%;
}

.warming-navigator .uncertainty {
  position: absolute;
  top: 59%;
  width: 100%;
  text-align: center;
  font-size: 300%;
  opacity: 30%;
}

.anomaly-table {
  position: relative;
  width: 100%;
  overflow: scroll;
  font-size: xx-small;
  margin-top: 1em;

  &:empty {
    display: none;
  }

  table {
    margin: auto;

    td {
      text-align: center;
    }
  }

  --outline-width: 2.5px;

  .the-year {
    outline: yellow var(--outline-width) solid;
  }

  .the-year-to-show {
    outline: deeppink var(--outline-width) solid;
  }

  .the-year.the-year-to-show {
    outline: lightgreen var(--outline-width) solid;
  }
}
